{% extends "base.html" %}
{% block title %} Import data to node {% endblock title %}
{% block content %}
<div class="form-content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <hr/>
                <label class="small mb-1">CSV File:</label>
                {{ form.csv_file }}
              </div>
            </div>
          </div>
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock content %}