.main
{
    padding: 2% 5%;
}
.col-6
{
    padding-bottom: 1%;
}
.row
{
    padding-bottom: 0;
}
h3
{
    font-weight: bold;
}
.btnadd
{
    background-color: black;
    color: white;
    border-radius: 15%;
    font-weight: bold;
    margin-top: 1%;
    float: right;
}
.btnadd:hover
{
    background-color: rgb(71, 191, 87);
    color: white;
}
.card-title
{
    font-weight: bold;
}