.mainImg{
  background-image: linear-gradient(to bottom right, rgba(185, 178, 178, 0.5), rgba(33, 35, 34, 0.7)), url("/static/images/img.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  background-position: center;
  /* top:0px;
  left:0px; */
  justify-content: center;
}
.main-container
{
  display: flex;
  justify-content: center;
}
.flex-container
{
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 5%;
  padding: 1% 4%;
  flex: 0.25;
  margin-top: 10%;
  
}
 .header{
    justify-content: center;
  }
.heading{
    text-align: center;
    padding-top: 5%;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
.email
{
    font-weight: bold;
}
.btn
{
    background-color: black;
    color: white;
    border-radius: 2%;
    font-weight: bold;
    margin-top: 2%;
    width: 100%;
}
.btn:hover
{
    background-color: rgb(71, 191, 87);
    color: white;
}
.fp 
{
  color: rgb(2, 2, 74);
}
.fp:hover
{
  color: rgb(8, 8, 211);
}

@media (max-width: 600px)
{
  .flex-container
  {
    padding: 5%; 
    flex: 0.75;
  }
}