{% extends "base.html" %}
{% block title %} User {% endblock title %}
{% block htmlhead %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/allUsers.css' %}">     
{% endblock htmlhead %}
{% block content %}
<div class="main">
  <div class="row">
    <div class="col-6">
      <h3>List of User</h3>
    </div>
    <div class="col-6">
      <a href="#" class="btn">
        <i class="fa-solid fa-user-plus"></i>
      </a>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>UserName</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </thead>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_superuser }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}