{% extends "base.html" %}
{% block title %} Home Page {% endblock title %}
{% block htmlhead %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/logout_page.css' %}">
{% endblock htmlhead %}
{% block content %}
  <div class="mainImg" style="width: 100%">
   <!-- <img src="{% static '/images/brand_logo.jpg' %}" width="150" height="40" class="d-inline-block align-top" alt=""> -->
    <div class="jumbotron">
      <h1 class="display-4">You have been logged out</h1>
      <p class="lead">
        Thanks for your time, contact me for any comments or suggestions using my
        email address.
      </p>
      <br/>
      <hr/>
      <a href="{% url 'login' %}" class="btn btn-primary">Sign in again</a>
    </div>
  </div>
{% endblock content %}
